/* styles.css */

/* Estilos para las preguntas y respuestas */
.faq-item {
  margin-bottom: 10px;
}

.faq-question {
  cursor: pointer;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

.faq-answer {
  display: none;
  /* Oculta la respuesta por defecto */
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Estilos para las flechas */
.arrow {
  float: right;
}