<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="title">About</title>

    <!-- Icon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='PICTURE/icons/favicon.ico') }}"
      type="image/x-icon"
    />

    <!-- CSS -->
    <link
      rel="preload"
      href="{{ url_for('static', filename='CSS/styles.css') }}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/styles.css') }}"
    />
    <link
      rel="preload"
      href="{{ url_for('static', filename='CSS/normalize.css') }}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/normalize.css') }}"
    />
  </head>

  <body>
    <nav>
      <img
        src="{{ url_for('static', filename='PICTURE/icons/log.png') }}"
        alt="Logo"
        id="logo"
      />
      <ul>
        <li><a href="{{ url_for('home') }}" id="home">Home</a></li>
        <li>
          <a href="{{ url_for('application') }}" id="application"
            >Application</a
          >
        </li>
        <li><a href="{{ url_for('analysis') }}" id="analysis">Analysis</a></li>
        <li><a href="{{ url_for('about') }}" id="about">About</a></li>
        <li><a href="{{ url_for('contact') }}" id="contact">Contact</a></li>
      </ul>
      <img
        id="theme-icon"
        src="{{ url_for('static', filename='PICTURE/symbols/sun.png') }}"
        alt="Theme Icon"
      />
      <input type="checkbox" id="theme-toggle" />

      <div class="language-buttons">
        <button onclick="changeLanguage('en')">EN</button>
        <button onclick="changeLanguage('es')">ES</button>
      </div>
    </nav>

    <main>
      <section>
        <h2 id="aboutTitle"></h2>
        <p id="description"></p>

        <h3 id="teamTitle"></h3>
        <ul>
          <li id="teamMember1"></li>
          <p id="teamExpertise1"></p>
          <li id="teamMember2"></li>
          <p id="teamExpertise2"></p>
          <li id="teamMember3"></li>
          <p id="teamExpertise3"></p>
        </ul>
      </section>
    </main>

    <footer>
      <p id="footer"></p>
    </footer>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='JavaScript/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='JavaScript/translation2.js') }}"></script>
    <script>
      function changeLanguage(lang) {
        loadTranslations(lang); // Asegúrate de que la función loadTranslations esté disponible aquí
        alert(`Language changed to: ${lang}`);
      }
    </script>
  </body>
</html>
