<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>

    <!-- Icon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='PICTURE/icons/favicon.ico') }}"
      type="image/x-icon"
    />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/normalize.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/styles.css') }}"
    />
  </head>

  <body>
    <nav>
      <img
        src="{{ url_for('static', filename='PICTURE/icons/log.png') }}"
        alt="Logo"
        id="logo"
      />
      <ul>
        <li><a href="{{ url_for('home') }}" id="home">Home</a></li>
        <li>
          <a href="{{ url_for('application') }}" id="application"
            >Application</a
          >
        </li>
        <li><a href="{{ url_for('analysis') }}" id="analysis">Analysis</a></li>
        <li><a href="{{ url_for('about') }}" id="about">About</a></li>
        <li><a href="{{ url_for('contact') }}" id="contact">Contact</a></li>
      </ul>
      <img
        id="theme-icon"
        src="{{ url_for('static', filename='PICTURE/symbols/sun.png') }}"
        alt="Theme Icon"
      />
      <input type="checkbox" id="theme-toggle" />

      <div class="language-buttons">
        <button onclick="changeLanguage('en')">EN</button>
        <button onclick="changeLanguage('es')">ES</button>
      </div>
    </nav>

    <main>
      <section>
        <h2>About Us</h2>
        <p>
          We are a group of Computer Science students from University San
          Sebastian, Chile.
        </p>

        <h3>Our Team:</h3>
        <ul>
          <li>Ignacio Rehbein</li>
          <p>
            * Designed the structure and developed the web using HTML, CSS, and
            JavaScript. Optimized the Flask code and structured the project.
          </p>

          <li>Claudio Diaz</li>
          <p>
            * Developed the logic in Flask and created UML diagrams for system
            architecture.
          </p>

          <li>Vicente Quintanilla</li>
          <p>
            * Created the database, logic, queries, and handled interactions
            with the system.
          </p>
        </ul>
      </section>
    </main>

    <footer>
      <p>
        &copy; <span id="currentYear"></span> NotaMaster. All rights reserved.
      </p>
    </footer>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='JAVASCRIPT/theme.js') }}"></script>
    <script>
      // Actualiza el año en el pie de página
      document.getElementById("currentYear").textContent =
        new Date().getFullYear();

      function changeLanguage(lang) {
        alert(`Language changed to: ${lang}`);
      }
    </script>
  </body>
</html>
