<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analysis</title>

    <!-- icon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='PICTURE/icons/favicon.ico') }}"
      type="image/x-icon"
    />

    <link
      rel="preload"
      href="{{ url_for('static', filename='css/styles.css') }}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="preload"
      href="{{ url_for('static', filename='css/normalize.css') }}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/normalize.css') }}"
    />
  </head>

  <body>
    <nav>
      <img
        src="{{ url_for('static', filename='PICTURE/icons/log.png') }}"
        alt="Logo"
        id="logo"
      />
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('application') }}">Application</a></li>
        <li><a href="{{ url_for('analysis') }}">Analysis</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
      </ul>
      <img
        id="theme-icon"
        src="{{ url_for('static', filename='PICTURE/symbols/sun.png') }}"
        alt="Theme Icon"
      />
      <input type="checkbox" id="theme-toggle" />
    </nav>

    <main>
      <h2>Grade Analysis</h2>

      <!-- Formulario de búsqueda -->
      <form action="{{ url_for('analysis') }}" method="GET">
        <label for="query">Search by course or student:</label>
        <input
          type="text"
          id="query"
          name="query"
          placeholder="Enter course or student name"
          value="{{ query }}"
        />
        <button type="submit">Search</button>
      </form>

      {% if analysis_results.course_name %}
      <h3>Course: {{ analysis_results.course_name }}</h3>
      {% elif analysis_results.student_name %}
      <h3>Student: {{ analysis_results.student_name }}</h3>
      {% endif %} {% if analysis_results.total_students > 0 %}
      <p>Total Records: {{ analysis_results.total_students }}</p>
      <p>Average Grade: {{ analysis_results.mean }}</p>
      <p>Standard Deviation: {{ analysis_results.std_dev }}</p>

      <!-- Mostrar la gráfica si está disponible -->
      {% if analysis_results.gaussian_plot %}
      <div>
        <h4>Grade Distribution (Gaussian Curve)</h4>
        <img
          src="data:image/png;base64,{{ analysis_results.gaussian_plot }}"
          alt="Distribution of grades"
        />
      </div>
      {% endif %} {% else %}
      <p>No data available for the search query.</p>
      {% endif %}
    </main>

    <footer>
      <p>
        &copy; <span id="currentYear"></span> NotaMaster. All rights reserved.
      </p>
    </footer>

    <script src="{{ url_for('static', filename='JAVASCRIPT/theme.js') }}"></script>
    <script>
      document.getElementById("currentYear").textContent =
        new Date().getFullYear();
    </script>
  </body>
</html>
