<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>

    <!-- Icon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='PICTURE/icons/favicon.ico') }}"
      type="image/x-icon"
    />

    <!-- CSS -->
    <link
      rel="preload"
      href="{{ url_for('static', filename='CSS/styles.css') }}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/styles.css') }}"
    />
    <link
      rel="preload"
      href="{{ url_for('static', filename='CSS/normalize.css') }}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/normalize.css') }}"
    />
  </head>

  <body>
    <nav>
      <img
        src="{{ url_for('static', filename='PICTURE/icons/log.png') }}"
        alt="Logo"
        id="logo"
      />
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('application') }}">Application</a></li>
        <li><a href="{{ url_for('analysis') }}">Analysis</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
      </ul>
      <img
        id="theme-icon"
        src="{{ url_for('static', filename='PICTURE/symbols/sun.png') }}"
        alt="Theme Icon"
      />
      <input type="checkbox" id="theme-toggle" />
    </nav>

    <main>
      <h1>Any problem?</h1>

      <h3>
        Hello, We would love for you to leave us a comment or leave us your
        problems.
      </h3>
      <div class="form-container">
        <h2>Contact Us</h2>

        <form action="{{ url_for('contact.submit_form') }}" method="post">
          <label for="name">First Name:</label>
          <input type="text" id="name" name="name" required />

          <label for="lastname">Last Name:</label>
          <input type="text" id="lastname" name="lastname" required />

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />

          <label for="phone">Phone:</label>
          <input type="tel" id="phone" name="phone" required />

          <label for="reason">Reason:</label>
          <select id="reason" name="reason" required>
            <option value="">Select a reason</option>
            <option value="support">Support</option>
            <option value="feedback">Feedback</option>
            <option value="feedback">Question</option>
            <option value="other">Other</option>
          </select>

          <label for="subject">Subject:</label>
          <input type="text" id="subject" name="subject" required />

          <label for="message">Message:</label>
          <textarea id="message" name="message" rows="5" required></textarea>

          <label for="email-select">Send to:</label>
          <select id="email-select" name="email-select" required>
            <option value="cdiaza18@correo.uss.cl">
              cdiaza18@correo.uss.cl
            </option>
            <option value="irehbeinm@correo.uss.cl">
              irehbeinm@correo.uss.cl
            </option>
            <option value="vquintanilla@correo.uss.cl">
              vquintanilla@correo.uss.cl
            </option>
          </select>

          <button type="submit">Send Message</button>
        </form>
      </div>
    </main>

    <footer>
      <p>
        &copy; <span id="currentYear"></span> NotaMaster. All rights reserved.
      </p>
    </footer>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='JAVASCRIPT/theme.js') }}"></script>
  </body>
</html>
