<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Home - Course Management</title>
  </head>
  <body>
    <div class="container">
      <h1 class="course-header">
        Welcome to the Course Management Application
      </h1>
      <p>
        This application allows you to manage courses, add students, assign
        professors, and track student grades and attendance. Below are the main
        features of this platform:
      </p>
      <ul>
        <li>Add and manage university courses.</li>
        <li>Assign professors to courses.</li>
        <li>Add students to courses and record their evaluations.</li>
        <li>Register and monitor student attendance.</li>
        <li>
          Automatically calculate each student's average based on evaluations.
        </li>
      </ul>
      <p>
        Use the navigation menu to access different sections of the application.
        To view current courses, click the link below.
      </p>
      <a href="{{ url_for('courses') }}" class="add-course-button"
        >View Courses</a
      >
      <a href="{{ url_for('university') }}" class="add-course-button"
        >View University Information</a
      >
    </div>
  </body>
</html>
