<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <!-- Icon -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='PICTURE/icons/favicon.ico') }}"
      type="image/x-icon"
    />

    <!-- CSS -->
    <link
      rel="preload"
      href="{{ url_for('static', filename='css/styles.css') }}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="preload"
      href="{{ url_for('static', filename='css/normalize.css') }}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/normalize.css') }}"
    />
  </head>

  <body>
    <nav>
      <img
        src="{{ url_for('static', filename='PICTURE/icons/log.png') }}"
        alt="Logo"
        id="logo"
      />
      <ul>
        <li><a href="{{ url_for('home') }}" id="home">Home</a></li>
        <li>
          <a href="{{ url_for('application') }}" id="application"
            >Application</a
          >
        </li>
        <li><a href="{{ url_for('analysis') }}">Analysis</a></li>
        <li><a href="{{ url_for('about') }}" id="about">About</a></li>
        <li><a href="{{ url_for('contact') }}" id="contact">Contact</a></li>
      </ul>
      <img
        id="theme-icon"
        src="{{ url_for('static', filename='PICTURE/symbols/sun.png') }}"
        alt="Theme Icon"
      />
      <input type="checkbox" id="theme-toggle" />

      <button onclick="changeLanguage('en')">EN</button>
      <button onclick="changeLanguage('es')">ES</button>
    </nav>

    <main>
      <h1 id="title"></h1>
      <p id="titledescription"></p>

      <section id="tech-used">
        <h2 id="techTitle"></h2>
        <br /><br />
        <div class="tech-list">
          <div class="tech-item tech-item-HTML">
            <img
              src="{{ url_for('static', filename='PICTURE/symbols/HTML.png') }}"
              alt="HTML Icon"
            />
            <p id="htmlTech"></p>
          </div>
          <div class="tech-item tech-item-CSS">
            <img
              src="{{ url_for('static', filename='PICTURE/symbols/CSS.png') }}"
              alt="CSS Icon"
            />
            <p id="cssTech"></p>
          </div>
          <div class="tech-item tech-item-JS">
            <img
              src="{{ url_for('static', filename='PICTURE/symbols/JS.png') }}"
              alt="JavaScript Icon"
            />
            <p id="jsTech"></p>
          </div>
        </div>
      </section>

      <br />

      <section>
        <h1 id="howItWorks"></h1>
        <h3 id="howItWorksDescription"></h3>
        <div class="Diagram Er">
          <img
            src="{{ url_for('static', filename='DiagramaER/PhotoER.png') }}"
            alt="ER Diagram"
          />
        </div>
      </section>
    </main>

    <footer>
      <p id="footer"></p>
    </footer>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='JavaScript/translations.js') }}"></script>
    <script src="{{ url_for('static', filename='JavaScript/theme.js') }}"></script>
  </body>
</html>
