<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Agregar Curso</title>
  </head>
  <body>
    <div class="container">
      <h1>Agregar Curso y Evaluaciones</h1>
      <form
        id="add-course-form"
        action="{{ url_for('add_course') }}"
        method="POST"
        onsubmit="return validateTotalPercentage()"
      >
        <input
          type="text"
          name="course_name"
          placeholder="Nombre del Curso"
          required
        />
        <div id="evaluations">
          <div class="evaluation">
            <input
              type="text"
              name="eval_name"
              placeholder="Nombre de la Evaluación"
              required
            />
            <input
              type="number"
              name="eval_percentage"
              placeholder="Porcentaje"
              min="0"
              max="100"
              required
              oninput="updateTotalPercentage()"
            />
          </div>
        </div>
        <button type="button" onclick="addEvaluation()">+</button>
        <button type="button" onclick="removeEvaluation()">-</button>
        <p>Total Porcentaje: <span id="total-percentage">0</span>%</p>
        <button type="submit">Agregar Curso</button>
      </form>
      <a href="{{ url_for('index') }}">Volver</a>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
