<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Cursos</title>
  </head>
  <body>
    <div class="container">
      <h1>Gestión de Cursos</h1>
      <form action="{{ url_for('add_course') }}" method="GET">
        <button type="submit">Agregar Curso</button>
      </form>
      <ul>
        {% for course in courses %}
        <li>
          <a href="{{ url_for('course_detail', course_id=course.id) }}"
            >{{ course.name }}</a
          >
          <form
            action="{{ url_for('delete_course', course_id=course.id) }}"
            method="POST"
            class="inline-form"
            onsubmit="return confirm('¿Estás seguro de eliminar este curso?');"
          >
            <button type="submit">Eliminar Curso</button>
          </form>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
