<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Teacher</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script
      src="{{ url_for('static', filename='js/script.js') }}"
      defer
    ></script>
  </head>
  <body>
    <div class="container">
      <h1 class="header">Add Teacher</h1>
      <form method="POST">
        <div class="input-group">
          <label for="name" class="input-label">Name:</label>
          <input type="text" name="name" class="input-field" required />
        </div>
        <div class="input-group">
          <label for="last_name" class="input-label">Last Name:</label>
          <input type="text" name="last_name" class="input-field" required />
        </div>
        <button type="submit" class="button">Add Teacher</button>
      </form>
    </div>
  </body>
</html>
