<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Students</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="header">Manage Students</h1>

      <!-- Navigation Section -->
      <div class="navigation-section">
        <a href="{{ url_for('register_student') }}" class="button">
          Register New Student
        </a>
        <a href="{{ url_for('enroll_student') }}" class="button">
          Course Enrollment
        </a>
      </div>

      <!-- Additional Links or Information -->
      <div class="info-section">
        <p>
          Manage your students, enroll them in courses, and keep track of their
          progress.
        </p>
      </div>

      <!-- Back to Home Link -->
      <div class="back-buttons">
        <a href="{{ url_for('index') }}" class="button back-previous-button">
          Back to Home
        </a>
      </div>
    </div>
  </body>
</html>
